@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #8e44ad;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 86px;
  text-align: center;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

.container {
  color: #113f67;
  background-color: #bbe4e9;
  padding: 46px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 9px -16px 21px 3px rgba(124, 120, 120, 0.3);
}

h2 {
  opacity: 0.8;
}

.contact {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.contact i {
  font-size: 36px;
  font-weight: bold;
}

@media (max-width: 580px) {
  section {
    flex-direction: column;
  }
}
